@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');



html, body {
  font-family: Arial, sans-serif;
  height: 100%;
  background-color: #f4f4f4;
}

.dashboard-container {
  display: flex;
}


.card {
  background: '#f4f4f4';
  padding: 20px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
